$color-green: rgb(0, 128, 0);
$color-lightgreen: rgba(51, 244, 8, 0.916);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(128, 128, 128);
$color-blue: rgb(0, 0, 255);
$color-lightblue: rgb(135, 206, 235);
$color-orange: rgb(255, 165, 0);
$color-orangered: rgb(255, 69, 0);
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
